{
  "profiles": {
    "mqtt_grpc_device": {
      "commandName": "Project",
      "dotnetRunMessages": true,
      "environmentVariables": {
        "DOTNET_ENVIRONMENT": "Development",
        "ConnectionStrings__cs" : "HostName=localhost;TcpPort=1883;UseTls=false;Username=user;Password=password;ClientId=grpc-device;ModelId=proto://mqtt_grpc_device.proto"
      }
    }
  }
}
